body
{
    background-color:darksalmon;
}

h1
{
    color:brown;
    background-color: cornsilk;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px crimson;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}

.btn-info:hover{
    background-color:green;
}

.btn-danger:hover{
    background-color:maroon;
}